@import url("https://fonts.googleapis.com/css?family=Merriweather:600,300,300i&subset=latin-ext");

body {
    font-family:"Merriweather",serif;
    font-style: normal;
    margin: 0;
    min-height: 100vh;
    flex-flow: column;
}

main {
  flex-grow: 1;
}

/*Estilos de la barra de navegación principal*/

.navBar {
  display: flex;
  flex-direction: row;
}


.navBar div {
  margin: 5px 10px 0px 10px;
  transition: 0.8s all;
  padding: 15px;
}

.navBar div a {
  text-decoration: none;
  color: black;
}

.navBar div:hover {
  background: #e1e1e1;
}

@media (max-width: 500px) {
  .navBar{
    flex-direction: column;
  }
}

.logo {
  font-family: 'Hundrake', sans-serif;
  font-size: 25px;
}

.logo img {
  width: 30px;
}

.products {
    width: 200px;
}

.dropdown-item{
  margin: 10px;
}

.figures {
    float: left;
    text-align: center;
    margin: 20px;
    cursor: pointer;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.figures:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

#modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 30px;
    border: 1px solid #888;
    width: 60%;
    text-align: center;
    border-radius: 0.50em;
}

#modal-content button {
  border: 1px solid black;
  border-radius: 5%;
}

#modal-header {
    text-align: center;
}

#modal-title{
    margin-top: 0;
    margin-bottom: 0;
    border-bottom:1px solid #ccc;
    padding: 5px;
    margin-top: 5px;
}

#modal-img {
    width: 600px;
    padding: 20px;
}

#close {
    float: right;
    cursor: pointer;
}

.tab-pane {
  justify-content: space-around;
  text-align: center;
  -webkit-animation: fadeEffect 1s;
  border-top: 1px solid #ccc;
  padding-left: 25px;
}

figure {
  -webkit-animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.tab-pane button {
  border: 1px solid;
  border-radius: 7%;
  width: 80px;
  background-color: #F0F3F4;
  margin-top: 8px;
}

.menu-nav {
  margin-bottom: 20px;
}

.menu-nav button {
  border-radius: 20%;
  border: 1px solid #fefefe;
}

#id-botonBuscar1 {
  margin-top: 0;
  width: 40px;
}

footer {
  width: 100%;
  padding: 1em 8%;
  background-color: #CBDCE1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}