@import url("https://fonts.googleapis.com/css?family=Merriweather:600,300,300i&subset=latin-ext");

body {
    font-family:"Merriweather",serif;
    font-style: normal;
    margin: 0;
    min-height: 100vh;
    flex-flow: column;
    background-image: url('vegetables.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 5s;

    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}

@keyframes animate{
    0%{
        background-image: url('vegetables.jpg');
    }
    20%{
        background-image: url('fruits.jpg');
    }
    40%{
        background-image: url('fruits.jpg');
    }
    60%{
        background-image: url('vegetables.jpg');
    }
    80%{
        background-image: url('vegetables.jpg');
    }
    100%{
        background-image: url('fruits.jpg');
    }
}

.navBar {
    display: flex;
    flex-direction: row;
}


.navBar div {
  margin: 5px 10px 0px 10px;
  transition: 0.8s all;
  padding: 15px;
}

.navBar div a {
  text-decoration: none;
  color: black;
}

.navBar div:hover {
  background: #e1e1e1;
}

@media (max-width: 500px) {
  .navBar{
    flex-direction: column;
  }
}

.logo {
  font-family: 'Hundrake', sans-serif;
  font-size: 25px;
}

.logo img {
  width: 30px;
}
